
body > div.container.text-center > div > ul > li > a{
  text-decoration: none;
  color: black;
  font-size:20px;
}

ul {
  list-style-type: none;
}

i {
  font-size: 16px;
}

.todo-list {
    border:1px solid black;
}

h2 {
  width:auto;
  min-width: 50vh
}
