<h1>Tasks</h1>
<ul>
<% @tasks.each do |task| %>
 <% task.title %>
<li>
<%= link_to task.title, task_path(id: task.id) %>
</li>
 <% end %>
</ul>

<p> <%= link_to "Create new task",tasks_new_path %> </p>
